<?xml version="1.0" encoding="utf-8" ?>
<!-- Kokosa Konrad - Pro .NET Memory Management For Better Code, Performance, and Scalability -->

<!-- Configuration Knob page 538 -->
<!-- https://learn.microsoft.com/en-us/dotnet/core/runtime-config/garbage-collector -->

<configuration>
	<runtime>
<!-- 		<gcAllowVeryLargeObjects enabled="true" /> -->
<!-- 		<gcServer enabled="true"/> -->
<!-- 		<GCHeapCount enabled="10"/> -->
<!-- -->
<!-- ~1~ learn.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/gcheapcount-element @1@ -->
<!-- -->
<!-- 		<GCHeapAffinitizeMask enabled="1023"/> -->
		<!-- <gcAllowVeryLargeObjects enabled="true" /> -->
	</runtime>
</configuration>